
@{
    ViewData["Title"] = "Reference";
}

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-3 col-md-4 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Opština Inđija</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Direkcija za izgradnju opštine Inđija</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Opština Apatin</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Grad Skoplje</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Opština Temerin</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Opština Ruma</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Opština Žabalj</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Kulturni centar Inđija</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Biblioteka Dr. Đorđe Natošević</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Fudbalski klub Inđija</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Osnovna škola Petar Kočić</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Predškolska ustanova Boško Buha</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Savez sportova Inđija</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Agencija za ruralni razvoj opštine Inđija</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Vlada autonomne pokrajine Vojvodine</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid col-xl-9 col-md-8 mt-sm-3 mt-lg-1 mt-md-1 align-items-stretch icon-news" data-aos="zoom-in" data-aos-delay="100" style="height:inherit;">
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1">
                        <div class="align-items-stretch mt-1 mt-md-1 img" data-aos="zoom-in" data-aos-delay="700">                      
                            <h4><img id="refimg" src="~/images/reference/indjija.png" /> Opština Inđija</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1">
                        <div class="align-items-stretch mt-1 mt-md-1 img" data-aos="zoom-in" data-aos-delay="700">                      
                            <p class="mt-0 mb-1">Sistem48</p>
                            <p class="mt-0 mb-1">Elektronske sednice</p>
                            <p class="mt-0 mb-1">Obračun lokalnih prihoda</p>
                            <p class="mt-0 mb-1">Adresni registar</p>
                            <p class="mt-0 mb-1">Pisarnica</p>
                            <p class="mt-0 mb-1">Matične knjige</p>
                            <p class="mt-0 mb-1">Birački spisak</p>
                            <p class="mt-0 mb-1">SMS servis</p>
                            <p class="mt-0 mb-1">Kadrovska evidencija</p>
                            <p class="mt-0 mb-1">Registar lica</p>
                            <p class="mt-0 mb-1">Administrativni modul</p>
                            <p class="mt-0 mb-1">Infomacioni sistem</p>
                            <p class="mt-0 mb-1">Osnovna sredstva</p>
                            <p class="mt-0 mb-1">Imovina</p>
                            <p class="mt-0 mb-1">GIS <a href="">pogledaj</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Services Section -->

