
@{
    ViewData["Title"] = "Vesti";
}

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container text-center" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-4 col-md-6 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="row">
                    <div class="d-flex align-items-stretch mt-2 mt-md-2" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <h4><a href="">Lorem Ipsum</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex align-items-stretch mt-2 mt-md-2" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <h4><a href="">Sed ut perspici</a></h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex align-items-stretch mt-2 mt-md-2" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">                            
                            <h4><a href="">Magni Dolores</a></h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        </div>
                    </div>
                </div>
     
            </div>

            <div class="col-xl-8 col-md-6 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="row" style="height:100%;">
                    <div class="align-items-stretch mt-2 mt-md-2" data-aos="zoom-in" data-aos-delay="700">
                        <div class="icon-news">
                            <h4>Lorem Ipsum</h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Services Section -->

