
@{
    ViewData["Title"] = "Softver";
}

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-3 col-md-4 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Sistem48</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Elektronske sednice</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Obračun lokalnih prihoda</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Adresni registar</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Pisarnica</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Matične knjige</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Birački spisak</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">SMS servis</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Kadrovska evidencija</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Registar lica</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Administrativni modul</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Informacioni sistem</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Finansije</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Osnovna sredstva</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Web prezentacije</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Softver za predškolske ustanove</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Upitnik-poljoprivredna gazdinstva</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Lovišta</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Konkursi</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Materijalno poslovanje</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">Imovina</a></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-row align-items-stretch mt-1 mt-md-1" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-soft">
                            <h4><a href="">GIS</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid col-xl-9 col-md-8 mt-sm-3 mt-lg-1 mt-md-1 align-items-stretch icon-news" data-aos="zoom-in" data-aos-delay="100" style="height:inherit;">
                <div class="row">
                <div class="col-xl-6 col-md-6 align-items-stretch order-2 order-lg-1 order-md-1">
                    <div class="align-items-stretch mt-1 mt-md-1 img" data-aos="zoom-in" data-aos-delay="700">                      
                        <img src="~/images/soft/sistem48v.jpg" />                       
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 align-items-stretch order-1 order-lg-2 order-md-2">
                    <div class="align-items-stretch mt-1 mt-md-1 mb-sm-5" data-aos="zoom-in" data-aos-delay="700">                       
                        <h4>Sistem48</h4>
                        <p>Sistem48 predstavlja jedinstveni informacioni sistem u Evropi kojim se u roku od samo 48 sati rešavaju komunalni problemi građana.Građani putem web-a, mail-a, sms-a ili poziva prijavljuju problem koji operater kroz softver zavodi i prosleđuje nadležnoj službi. Kroz najviše 48 sati upućuje se odgovor.</p>
                        <p class="mt-2">Tip aplikacije: Web aplikacija</p>
                        <p class="mt-2">Korišćene tehnologije: .NET, MSSQL, MYSQL</p>                       
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Services Section -->

