@{
    ViewData["Title"] = "- O nama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Ko smo mi?</h2>
        </div>

        <div class="row content">
          <div class="col-lg-12">
            <p>
              Inđija, kao jedna od najrazvijenijih opština u Srbiji, veliki deo svog napretka duguje upravo ulaganju u informacione tehnologije. Razvoj inovativnih softvera poput Sistema48 ili Elektronskih sednica unapredio je rad lokalne uprave kroz ubrzavanje raznih procedura i velike uštede opštinskog budžeta.
            </p>
            <p>Kako se tokom vremena obim posla IT odeljenja širio, donesena je odluka o osnivanju Agencije za IT, GIS i komunikacije opštine Inđija.</p>
            <p>Agencija od 2009. godine nastupa samostalno na tržištu, nudeći preko dvadeset samostalno osmišljenih i razvijenih IT rešenja.</p>
          </div>
        </div>

      </div>
    </section>

    <section class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-8" data-aos="fade-right" data-aos-delay="100">
            <p>
              Na sednici opštinskog veća 18.decembra 2008. godine usvojen je početni dokument za osnivanje agencije.
            </p>
            <p style="font-style:italic;">Radi pružanja podrške naporima Opštine u obavljanju redovnih delatnosti u domenu informatičkih delatnosti, delatnosti komunikacija i publikovanja dokumenata iz oblasti prostornog uređenja opštine Inđija, Opština Inđija pristupa osnivanju Društva sa ograničenom odgovornošću „Agencije za IT, GIS i komunikacije Opštine Inđija“, Inđija (ITI d.o.o.), u svojstvu jednog od osnivača.</p>        
          </div>
          <div class="col-lg-4 align-items-stretch order-1 order-lg-2 img" data-aos="fade-left" data-aos-delay="300" style="background-repeat: no-repeat;text-align:center">
              <img src="~/images/potpisivanje.jpg" />
          </div>
        </div>

      </div>
    </section>

    <section class="about">
      <div class="container" data-aos="fade-up">
        
        <div class="row content">
            <p style="font-weight:600;">Agencija za IT, GIS i komunikacije opštine Inđija je osnovana krajem jula 2009. godine a počela je da funkcioniše 01.septembra 2009.</p><br /><br /><br />
        </div>
        <div class="row content">
          <div class="col-lg-2 align-items-stretch img" data-aos="zoom-in" data-aos-delay="150">
            <img src="~/images/laptop.jpg" />       
          </div>
          <div class="col-lg-10" data-aos="fade-left" data-aos-delay="100" style="background-repeat: no-repeat;">
              <p><b>Osnovni podaci:</b><br />
                  Agenciji za IT, GIS i komunikacije Opštine Inđija ITI d.o.o
              </p>
              <p><b>Matični broj:</b> 20550988</p>
              <p><b>PIB:</b> 106185490</p>
              <p><b>Pretežna delatnost:</b> 6201 – Računarsko programiranje</p>
              <p><b>Kapital novčani:</b> 1.000,00 €</p>
              <p><b>Podaci o osnivačima:</b></p>
                  <ul>
                      <li><i class="ri-check-double-line"></i>Opština Inđija, Inđija, Cara Dušana 1</li>
                      <li><i class="ri-check-double-line"></i>Društvo za konsalting, inženjering i zastupanje u oblasti geografskih informacionih sistema GISDATA doo Beograd, Bulevar Mihajla Pupina 165e</li>
                  </ul>
              <p><b>Skupština društva :</b><br />
                  Članovi društva s ograničenom odgovornošću čine skupštinu Predsednik skupštine društva Nemanja Milojević</p>
          </div>
        </div>

      </div>
    </section>